{% extends 'base.html' %}
<title>{% block title %}Index{% endblock %}</title>
{% block main %}
<div style="float: right;">
    <a class="login" href="{{ url_for('login')}}">Login</a>
    <a class="login" href="{{ url_for('signup') }}">Sign up</a>
    <a class="login" href="{{ url_for('profile') }}">Profile</a>
</div>
<h1 >List of DDR songs</h1>
<div id="main">
    <div id="search" style="float: left;">
        <form action="" method="POST" novalidate>
            {{form.csrf_token}}
            <p>
                {{ form.songName.label }} <br />
                {{ form.songName }}
            </p>
            <p>
                {{ form.artist.label }} <br />
                {{ form.artist }}
            </p>
            <p>
                {{ form.games.label }} <br />
                {{ form.games }}
            </p>
            <p>
                {{ form.higherBPM.label }} <br />
                {{ form.higherBPM }}
            </p>
            <p>
                {{ form.lowerBPM.label }} <br />
                {{ form.lowerBPM }}
            </p>
            <p>
                {{ form.runtime.label }} <br />
                {{ form.runtime }}
            </p>
            <p>
                {{ form.licensed.label }} <br />
                {{ form.licensed }}
            </p>
            <p>
                {{ form.changingBPM.label }} <br />
                {{ form.changingBPM }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
    <div id="list" style="float: left;">
        <a href="{{ url_for('index', page=page - 1, songName=songName, changingBPM=changingBPM, 
            artist=artist, higherBPM=higherBPM, lowerBPM=lowerBPM, runtime=runtime, 
            licensed=licensed, games=games,highestDifficulty=highestDifficulty,
            lowestDifficulty=lowestDifficulty, maxNotes=maxNotes, minNotes=minNotes,
            difficultyClass=difficultyClass, excludeDoubles=excludeDoubles,
            shockNotes=shockNotes, songs=songs) }}"
            {% if not songs.has_prev %}class="disabled" {% endif %}>Previous
        </a>
        <a href="{{ url_for('index', page=page + 1, songName=songName, changingBPM=changingBPM, 
            artist=artist, higherBPM=higherBPM, lowerBPM=lowerBPM, runtime=runtime, 
            licensed=licensed, games=games,highestDifficulty=highestDifficulty,
            lowestDifficulty=lowestDifficulty, maxNotes=maxNotes, minNotes=minNotes,
            difficultyClass=difficultyClass, excludeDoubles=excludeDoubles,
            shockNotes=shockNotes, songs=songs) }}"
            {% if not songs.has_next %}class="disabled" {% endif %}>Next
        </a>
        <br>

        <table>
            <tr>
                <th></th>
                <th>Song Name</th>
                <th>Game</th>
                <th>Artist</th>
                <th>Highest BPM</th>
                <th>Lowest BPM</th>
                <th>Changing BPM?</th>
                <th>Runtime</th>
                <th>Licensed?</th>
                <th>Charts</th>
            </tr>
            {% for song in songs %}
            <tr>

                <td>{{ song.songName }}</td>
                <td>{{ song.game }}</td>
                <td>{{ song.artist}}</td>
                <td>{{ song.higherBPM }}</td>
                <td>{{ song.lowerBPM }}</td>
                <td>{{ song.changingBPM }}</td>
                <td>{{ song.runtime }}</td>
                <td>{{ song.licensed }}</td>
                <td>{{ song.charts }}</td>


                <td>
                    <form action="{{ url_for('add_favorite') }}" method="POST" style="display: inline">
                        <input type="submit" value="Create New Incident" />
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>

        <br />
        
    </div>
</div>

{% endblock %}